---
layout: index_temp
---
	 {% for post in paginator.posts %}
				<article>
						{% if post.show_type == "image" %}
						
						<div class="post-image">
							<div class="post-heading">
								<h3><a  href="{{site.baseurl}}{{ post.url }}">{{post.title}}</a></h3>
							</div>
							<img src="{{site.baseurl}}{{post.show_intro}}" alt="{{post.show_intro}}" />
						</div>
 						
						{% elsif post.show_type == "slider" %}
						
						<div class="post-slider">
							<div class="post-heading">
								<h3><a  href="{{site.baseurl}}{{ post.url }}">{{post.title}}</a></h3>
							</div>
							<!-- start flexslider -->
							<div id="post-slider" class="flexslider">
								<ul class="slides">
									{% assign words = post.show_intro | split:',' %}
  									{% for word in words %}
										<li>
										<img src="{{site.baseurl}}{{word}}" alt="{{post.intro}}" />
										</li>
									{% endfor %}
								</ul>
							</div>
							<!-- end flexslider -->
						</div>
						{% elsif post.show_type == "video" %}
						<div class="post-video">
							<div class="post-heading">
								<h3><a   href="{{site.baseurl}}{{ post.url }}">{{post.title}}</a></h3>
							</div>
							<div class="video-container">
								<iframe src="{{post.show_intro}}"></iframe>
							</div>
						</div>

  						{% else %}
						
						{% endif %}

						<p>
							 {{post.intro}}
						</p>

						<div class="bottom-article">
							<ul class="meta-post">
								{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
							    {% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}
							    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
							    {% capture next_month %}{{ post.previous.date | date: "%m" }}{% endcapture %}
								<li><i class="icon-calendar"></i><a href="#">{{ post.date | date: "%Y-%m-%d" }}</a></li>
								<li><i class="icon-user"></i><a href="#"> {{post.author}}</a></li>
								<!-- <li><i class="icon-folder-open"></i><a href="#"> Blog</a></li>
								<li><i class="icon-comments"></i><a href="#">4 Comments</a></li> -->
							</ul>
							<a href="{{site.baseurl}}{{ post.url }}"  class="pull-right">Continue reading <i class="icon-angle-right"></i></a>
						</div>
				</article>
				 {% endfor %}
				<nav>
				  <ul class="pagination">
					{% if paginator.previous_page %}
						<li >
							<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">«</a>
						</li>
					{% else %}
					    <li class="disabled">
							<a href="javascript:;">«</a>
						</li>
					{% endif %}
					{% for page in (1..paginator.total_pages) %}
					    {% if page == paginator.page %}
					    	<li class="active"><span class="current">{{ page }}</span></li>
					    {% elsif page == 1 %}
					    	<li > <a href="/index.html">{{ page }}</a></li>
					    {% else %}
					    	<li > 
					    	<a href="/page{{page}}">{{ page }}</a>
					    	</li>
					    {% endif %}
					{% endfor %}
				    {% if paginator.next_page %}
						<li >
							<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">»</a>
						</li>
					{% else %}
					    <li class="disabled">
							<a href="javascript:;">«</a>
						</li>
					{% endif %}
				  </ul>
				</nav>
			
				


			