<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">交流群</h5>
					<p>
						Hbook交流群：364778978 
					</p>
					<p>( 注：申请请注明来自H君的日志 )</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">宗旨</h5>
					<ul class="link-list">
						<li><a href="javascript:;">低调做人、高调做事</a></li>
						
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">推荐</h5>
					<ul class="link-list">
						<li><a href="http://www.bookcss.com" target="_blank">Hbook</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">作者</h5>
					{% for author in site.data.author %}
						<div class="flickr_badge" >
							<img src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.author}}" title="{{author.autho}}">
						</div>
					{% endfor %}
					
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; Blog 2014-2017 All right reserved. By H君</span>
						</p>
					</div>
				</div>
				 <div class="col-lg-6">
					<ul class="social-network">
						<!-- <li><a href="https://github.com/hwgq2005/blog" target="_blank" data-placement="top" title="GitHub"><i class="fa fa-github"></i></a></li> -->
					<!-- 	<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>
