<!-- 分享 -->
<div class="ds-share" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-images="" data-content="{{page.intro}}" data-url="{{site.baseurl}}{{page.url }}">
    <div class="ds-share-inline">
      <ul  class="ds-share-icons-32">
      	<li ><span  style="font-size:12px;height:32px;display:inline-block;line-height: 32px;color:#999;" >分享到：</span></li>
        <li><a class="ds-qq" href="javascript:void(0);" data-service="qq"></a></li>
        <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo"></a></li>
        <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone"></a></li>
        <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt"></a></li>
        <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat"></a></li>
      </ul>
      <div class="ds-share-icons-more">
      </div>
    </div>
 </div>