<!-- 分享 -->
<!-- <div class="ds-share" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-images="{{site.baseurl}}/res/img/favicon.ico" data-content="{{page.intro}}" data-url="{{site.baseurl}}{{page.url }}">
    <div class="ds-share-inline">
      <ul  class="ds-share-icons-32">
      	<li ><span  style="font-size:12px;height:32px;display:inline-block;line-height: 32px;color:#999;" >分享到：</span></li>
        <li><a class="ds-qq" href="javascript:void(0);" data-service="qq"></a></li>
        <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo"></a></li>
        <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone"></a></li>
        <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt"></a></li>
        <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat"></a></li>
      </ul>
      <div class="ds-share-icons-more">
      </div>
    </div>
 </div> -->


 <!-- JiaThis Button BEGIN -->
<div class="jiathis_style_32x32">
<a class="jiathis_button_cqq"></a>
<a class="jiathis_button_qzone"></a>
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_tqq"></a>
<a class="jiathis_button_weixin"></a>
<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
  summary:"",
  shortUrl:false,
  hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->


