<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{page.title}} - H君</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{page.intro}}">
<meta name="keywords" content="{{page.keyword}}">
<meta name="author" content="{{page.author}}">
<link rel="icon" href="{{site.baseurl}}/res/img/favicon.ico">
{% include css.html%}
</head>
<body>
<div id="wrapper">

	{% include header.html%}
	<section id="content">
		<div class="container">
	 		{{content}}
	 		<div class="pull-right">
	 			{% include share.html%}				
	 		</div>
	 		<div class="row">
	 			{% include duoshuo.html%}
			</div>
		</div>
	</section>
	{% include footer.html%}

</div>

<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
{% include script.html%}

</body>
</html>