<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{page.title}} - {{site.indet_title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{page.intro}}">
<meta name="keywords" content="{{page.keyword}}">
<meta name="author" content="{{page.author}}">
<link rel="icon" href="{{site.baseurl}}/res/img/favicon.ico">
{% include css.html%}
<style>

		.container .jiathis_style_32x32 .jiathis_counter.jiathis_bubble_style{
			width:62px!important;
		}
		.jiathis_style > div{
			width:320px!important;
		}
		.jiathis_style .searchTxt{
			padding:0!important;
			height:auto!important;
			line-height:normal!important;
		}
		.jiathis_style .centerBottom{
			display:none!important;
		}
		.jiathis_style .jiadiv_01 > div{
			padding:0 5px!important;
		}
		.music{
			margin-bottom: 10px;
		}
</style>
</head>
<body>
<div id="wrapper">

	{% include header.html%}
	<section id="content">
		<div class="container">
	 		{{content}}
	 		<div class="music">
				<audio  src="http://dl.stream.qqmusic.qq.com/C200001OyHbk2MSIi4.m4a?vkey=E8C2D7E0D29896BB4B63F889F79E40AA73244F9DF5B12EABA5555D9BA7FBA7B5192FFBD4A54E9F7E2B739A75F669D74C9899F0B0B38E7B54&guid=24939200&fromtag=0"controls="controls"  loop="loop" preload="auto" id="audio">
				  <source type="audio/mpeg" />
				</audio>
				<!-- 	<audio controls="controls" autoplay="autoplay" loop="loop" preload="auto" id="audio">
				  <source src="http://dl.stream.qqmusic.qq.com/C200001OyHbk2MSIi4.m4a?vkey=E8C2D7E0D29896BB4B63F889F79E40AA73244F9DF5B12EABA5555D9BA7FBA7B5192FFBD4A54E9F7E2B739A75F669D74C9899F0B0B38E7B54&guid=24939200&fromtag=0" type="audio/mpeg" />
				</audio> -->
			</div>
	 		<div class="pull-right">
	 			{% include share.html%}				
	 		</div>
	 		<div class="row">
	 			{% include duoshuo.html%}
			</div>
		</div>
	</section>
	{% include footer.html%}
	

</div>

<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
{% include script.html%}
<script>
	function toggleSound() {
	        var music = document.getElementById("audio");//获取ID
	        // alert(1)
	        alert(music.paused)
	        if (music.paused) { //判读是否播放
	                music.play(); //没有就播放

	        }
	}
	toggleSound();
</script>
</body>
</html>