<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{page.title}} - {{site.indet_title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{page.intro}}">
<meta name="keywords" content="{{page.keyword}}">
<meta name="author" content="{{page.author}}">
<link rel="icon" href="{{site.baseurl}}/res/img/favicon.ico">
{% include css.html%}
<style>

		.container .jiathis_style_32x32 .jiathis_counter.jiathis_bubble_style{
			width:62px!important;
		}
		.jiathis_style > div{
			width:320px!important;
		}
		.jiathis_style .searchTxt{
			padding:0!important;
			height:auto!important;
			line-height:normal!important;
		}
		.jiathis_style .centerBottom{
			display:none!important;
		}
		.jiathis_style .jiadiv_01 > div{
			padding:0 5px!important;
		}
		.music{
			margin-bottom: 10px;
		}
</style>
</head>
<body>
<div id="wrapper">

	{% include header.html%}
	<section id="content">
		<div class="container">
	 		{{content}}
	 		<div class="music">
				{% if page.tags[0] == "地心营救" %}
				<audio controls="controls" autoplay="autoplay" loop="loop" preload="auto" id="audio">
				  <source src="http://14.215.93.16/m10.music.126.net/20160202162658/2d211b049c0d27d1e1b135b78ef46dff/ymusic/5cc9/b09c/63db/ecddfbe8486606bc783ef58e897c0f03.mp3?wshc_tag=0&wsts_tag=56b06368&wsid_tag=715720b4&wsiphost=ipdbm" type="audio/mpeg" />
				</audio>
				{% endif %}
			</div>
	 		<div class="pull-right">
	 			{% include share.html%}				
	 		</div>
	 		<div class="row">
	 			{% include duoshuo.html%}
			</div>
		</div>
	</section>
	{% include footer.html%}
	

</div>

<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
{% include script.html%}
<script>
	var state=true;
	function toggleSound() {
	        var music = document.getElementById("audio");//获取ID
	        if (music.paused) { //判读是否播放
	                music.play(); //没有就播放
	        }
	        state=false;
	}
	$(document).on('touchstart', function(){
		if (state) {
			toggleSound();
		};
	});
</script>
</body>
</html>